
@{
    ViewBag.Title = "AddCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddCalendar</h2>
<form method="post">
    <input type="text" name="Summary" placeholder="Albor" />
    <input type="text" name="Description" placeholder="Albor events" />
    <input type="text" name="Location" placeholder="Mar del Plata" />
    <button type="submit">Add</button>
</form>
