@{
    ViewBag.Title = "AddEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddEvent</h2>
<form method="POST">
    Calendar: <input type="text" name="Calendar" />
    <br />
    Summary: <input type="text" name="Summary" />
    <br />
    Start: <input type="datetime" name="Start" />
    <br />
    End: <input type="datetime" name="End" />
    <br />
    <button type="submit">Add</button>
</form>
