
@{
    ViewBag.Title = "DeleteCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteCalendar</h2>

<form method="post">
    <input type="text" name="calendarSummary" placeholder="Albor" />
    <button type="submit">Delete</button>
</form>