
@{
    ViewBag.Title = "DeleteEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteEvent</h2>
<form method="post">
    <input type="text" name="calendarId" placeholder="primary" />
    <input type="text" name="eventId" placeholder="Go to cinema" />
    <button type="submit">Delete</button>
</form>

