@model Google.Apis.Calendar.v3.Data.CalendarList
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eventos próximos</h2>
@Html.DropDownListFor(x => x.Items, (IEnumerable<SelectListItem>)ViewBag.Options)

<br />