@model Google.Apis.Calendar.v3.Data.CalendarList
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function loadPartial() {
        var name = $("#selectPartial").val();
        alert(name);
        $("#partial").load('/Home/RenderCalendar/?Calendar=' + name);
    }
</script>

<select id="selectPartial" onchange="loadPartial()">
    @foreach (var item in Model.Items)
    {
        <option value="@item.Id">@item.Summary</option>
    }
</select>

<div id="partial">
    <div id="sd">
    </div>
</div>
